---
layout: default
---

{% for project in site.data.projects %}
<section class="spotlight style1 orient-{% cycle 'right', 'left' %} content-align-left image-position-center onscroll-image-fade-in" id="{{ project.id }}">
  <div class="content">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <ul class="actions vertical">
      <li><a href="https://github.com/{{ project.github }}" target="_blank" class="button">Learn More</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ project.screenshot | relative_url }}" alt="{{ project.name }}" />
  </div>
</section>
{% endfor %}

<section id="gems" class="wrapper style1 align-center">
  <div class="inner">
    <h2>Gems</h2>
    <p>Tamashii is built with these rubygems which are expected to energize Ruby's ecosystem.<p>
    <div class="items style1 medium onscroll-fade-in">
      {% for gem in site.data.gems %}
      <a href="https://github.com/{{ gem.github }}" target="_blank">
      <section>
        <span class="icon style2 major">
          <img src="{{ gem.icon | relative_url }}" alt="{{ project.name }}" />
          <span class="circle"></span>
        </span>
        <h3>{{ gem.name }}</h3>
        <p>{{ gem.description }}</p>
      </section>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
