---
layout: default
---

{% for project in site.data.projects %}
<section class="spotlight style1 orient-{% cycle 'left', 'right' %} content-align-left image-position-center onscroll-image-fade-in" id="{{ project.id }}">
  <div class="content">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <ul class="actions vertical">
      <li><a href="https://github.com/{{ project.github }}" target="_blank" class="button">Learn More</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ project.screenshot | relative_url }}" alt="{{ project.name }}" />
  </div>
</section>
{% endfor %}

<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Gems</h2>
    <p>Tamashii is building from many rubygems to constructor our ecosystem.</p>
    <div class="items style1 medium onscroll-fade-in">
      {% for gem in site.data.gems %}
      <section>
        <span class="icon style2 major fa-{{ gem.icon }}"></span>
        <h3><a href="https://github.com/{{ gem.github }}" target="_blank">{{ gem.name }}</a></h3>
        <p>{{ gem.description }}</p>
      </section>
      {% endfor %}
    </div>
  </div>
</section>
